* {
  margin: 0;                 /* reset css */
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #1e1f4f, #2b2d72);
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: white;
}

.container {
  width: 100%;
  max-width: 512px;
  padding: 40px 24px;
}

.centro {
  text-align: center;
  margin-bottom: 60px;
}

.titolo {
  font-family: "Sigmar", sans-serif;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.text1 {
  font-size: 16px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.btn {
  padding: 16px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.chiaro {
  background: #e6dbdb;
  color: black;
}

.scuro {
  background: #5865f2;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.card{
    position: relative;
    background: #7d89af;
    padding: 40px 24px;
    border-radius: 30px;
    margin-bottom: 40px;
    text-align: left;
}
.pick {
    border-radius: 30px;
}

.icons {
    position: absolute;
    
   
}